<% if cart and not cart.line_items.empty? %>
  <% Rails.logger.debug("______________________WE ARE HERE in IF section______________________") %>
  <% pp cart.line_items %>
  <div id="cart" class="bg-white rounded p-2">
    <%= render cart %>
  </div>
<% else %>
  <% Rails.logger.debug("______________________WE ARE HERE in ELSE section______________________") %>
  <div id="cart"></div>
<% end %>
